{% extends 'template.html' %}

{% block content %}

</div>
<title>Lista de Usuários</title>
<div class="container container mt-5 top-space">
  
  <a href="{{ url_for('user.register') }}" class="btn btn-primary">Cadastrar Novo</a>
  
  {% if users %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Nome de Usuário</th>
          <th>Perfil</th>
          <th>Ações</th>
          
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.profile }}</td>
            <td>
              <a href="/user/update/{{ user.id }}" class="btn btn-primary">Alterar</a>
              <a href="/user/delete/{{ user.id }}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Excluir</a>
              <a href="/user/salary/{{ user.id }}" class="btn btn-primary">Alteraçoes de salário</a>
              
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nenhum usuário encontrado.</p>
  {% endif %}
</div>
<p>{{message}}</p>
   
{% endblock %}
